<?xml version='1.0' encoding='utf-8'?>
<widget id="com.meli.fadp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>AppAgendaFADP</name>
    <description>
        Agenda APP para capturar los datos de las personas...
    </description>
    <author email="melirojas10_95@hotmail.es" href="http://phonegap.com">
        Melina Mata
    </author>
    <content src="index.html" />
    <access origin="http://especialistasenlaweb.com" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    


</widget>
